.task_main {
    display: flex;
    justify-content: center;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid;
    border-radius: 10px;
    width: 50vw;
    height: fit-content;
    margin: 30px 30px 60px;
    padding-left: 10px;
}
.task h2 {
    align-self: center;
    color: #4b4848;
}

.task-checkbox {
    width: 20px;
    height: 20px;
}

.task__choice {
    display: flex;
    align-self: center;
    justify-content: flex-start;
    width: 90%;
    padding-bottom: 10px;
}

.task__choice input {
    font-family: "Century Gothic", sans-serif;
    font-size: large;
    line-height: 30px;
    width: 97%;
}

input, button, select {
    font-family: "Century Gothic", sans-serif;
    font-size: large;
    line-height: 30px;
}

.task-options {
    display: flex;
    align-self: center;
    padding-bottom: 10px;
}

.task__item {
    display: flex;
    align-self: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
}

.task-item__text {
    align-self: center;
}

.task-items {
    max-height: 50vh;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.task__item__completed {
    display: flex;
    align-self: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
}

.task-item__text_completed {
    align-self: center;
    text-decoration: line-through;
}

.preloader, .error {
    display: flex;
    align-self: center;
    z-index: 1001;
}

.error {
    display: flex;
    align-self: center;
    z-index: 1000;
}

#preloader__image {
    width: 64px;
    height: 64px;
    background: url('images/pr.gif');
    display: none;
}

#error__image {
    width: 380px;
    height: 360px;
    background: url('images/er.gif');
    display: none;
}

.load__tasks {
    display: flex;
    align-self: center;
    padding-bottom: 10px;
}