* {margin: 0;}

body {
    font-family: "Arial", sans-serif;
}

.header {
    width: 100%;
    display: inline;
}

.nav {
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: min-content;
    background-color: lightgray;
}

.nav__logo {
    margin: 0;
    float: left;
    width: 25%;
    padding-right: 100px;
}

.menu {
    list-style: none;
    padding-top: 40px;
    color: #4b4848;
}

.menu__elem {
    display: inline;
    font-size: x-large;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}

.content {
    padding: 20px;
}

.info {
    padding-top: 10px;
}

.info h4 {
    padding-top: 10px;
    font-size: large;
}

.info blockquote {
    padding-top: 10px;
}

.info-list {
    padding-top: 15px;
    font-size: medium;
}

.banner {
    outline: 2px solid #000;
    border-radius: 10px;
    float: right;
    padding: 20px;
    margin-left: 50px;
    margin-right: 100px;
    background-color: #c5f9ff;
    text-align: center;
}

.banner h2 {
    padding-bottom: 30px;
    text-align: center;
}

.banner p {
    color: #282828;
}

.examples {
    padding-top: 30px;
}

.examples__cont {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    width: 50%;
    drop-shadow(16px 16px 10px black)
}

.examples__cont img {
    height: 300px;
    width: auto;
    padding-right: 20px;
    filter: drop-shadow(5px 7px 5px lightskyblue)
}

.footer {
    padding: 20px;
}

#footer__h1 {

}

#footer__contacts {
    font-weight: bold;
    padding-top: 20px;
    font-size: xx-large;
    color: darkorange;
}

.contacts-menu {
    list-style: none;
}

.contacts-menu__elem {
    padding: 5px 5px 5px 0;
    font-size: large;
    font-style: italic;
}