body {
    font-family: "Century Gothic", sans-serif;
    font-size: large;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: #4b4848;
}

.icons {
    width: 40px;
    height: auto;
}

#header-logo {
    width: 75px;
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
}

.header-burger {
    display: none;
}

.header-nav {
    display: flex;
    justify-content: space-around;
}

.header-nav__item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header-nav__item__active {
    color: rgb(48, 165, 204);
}

.header-nav-item__elem {
    display: flex;
    align-items: center;
}

.header-desc {
    align-self: center;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.header-desc:hover {
    background-color: rgba(224, 106, 6, 0.5);
    border-radius: 10px;
    .header-nav__item__active {
        color: #4b4848;
    }
}

.header-nav__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-desc {
    font-size: xxx-large;
    padding: 12px;
    font-weight: bold;
    font-family: "Century Gothic", sans-serif;
    color: #4b4848;
}

.main {
    margin-top: 140px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info img {
    width: 50vw;
}

.info__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-item__elem {
    padding: 40px;
}

.info-item__elem p {
    padding: 2px;
}

.footer {
    display: flex;
    flex-direction: column;
    color: #4b4848;
    background-color: rgba(225, 225, 225, 0.7);
    width: 100%;
    margin: 0;
}

.footer__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer-item__elem {
    padding-left: 180px;
    padding-right: 180px;
    text-align: center;
}

.footer-contacts {
    height: min-content;
}

.footer-item__elem.footer-contact {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

#form {
    display: inline-block;
    background-color: lightskyblue;
    border-radius: 40px;
    width: fit-content;
    padding-right: 20px;
    padding-left: 20px;
}

#form:hover {
    background-color: rgba(224, 106, 6, 0.5);
    border-radius: 40px;
}